td,
th {
  vertical-align: middle !important;
  text-align: center !important;
}

h1 {
  padding-top: 10%;
  padding-bottom: 10%;
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}
