td,th,tr {
  vertical-align: middle !important;
  text-align: center !important;
}

table {
  border: 1px solid #eceeef;
  border-collapse: collapse; 
}

h1,h2 {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 20px 0px;
}

.page-title {
  padding-top: 10%;
}

.table-title {
  padding-top: 5%;
}

.search-box {
  padding-top: 10%;
}

svg {
  height: 150px;
}
